body{
    background:url(bg4.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.details{
    border:black solid 2px;
    height:80%;
    width:90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    box-shadow: black 5px 5px 8px 2px;
}
.pic{
    height:100%;
    width:50%;
}
.pic img{
    height:100%;
    width:100%;
}
@media(max-width:740px){
    .pic{display:none;}
    #container2, #container3{
        width:100%;
    }
}